* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 35px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

a h1 {
    padding: 10px;
    color: whitesmoke;
}

.hello:hover {
    font-size: 50px;
    font-weight: 900;
    /* background-color: #03e9f4; */
    box-shadow: 0 0 5px black, 0 0 25px #03e9f4, 0 0 50px black, 0 0 200px black;
}

.letsgo:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
}